﻿body, html {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.UIFrame {
    position: absolute;
    background-color: #313135;
    height: 20%;
    width: 25%;
    margin-left: 75%;
    z-index: 99;
}

.UIElement {
    background-color: #292929;
    border: 1px solid #151515;
    display: inline-block;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-style: normal;
    line-height: 20px;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0px #000000;
}

.UIFrame div {
    width: 100%;
}

.UIElement select {
    background-color: #5050A6;
    border: 1px solid #5050A6;
    text-shadow: none;
    text-align: right;
}
.UIElement select:hover {
    background-color: #5050A6;
       
}

.UIElement:hover {
    background-color: #5050A6;
}
